{% extends 'core/base.html' %}
{% load static %}

{% block title %}Lista de Órdenes{% endblock %}

{% block contenido %}
<h1>aaaaaaaaa</h1>


    <h1>Lista de Órdenes</h1>
    <table>
        <thead>
            <tr>
                <th>Número de Orden</th>
                <th>Fecha de Orden</th>
                <th>RUT Cliente</th>
                <th>Nombre/Razón Social</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Productos</th>
                <th>Tipo de Servicio</th>
            </tr>
        </thead>
        <tbody>
            {% for orden in ordenes %}
                <tr>
                    <td>{{ orden.numero_orden }}</td>
                    <td>{{ orden.fecha_orden }}</td>
                    <td>{{ orden.rut_cliente }}</td>
                    <td>{{ orden.nombre_razon_social }}</td>
                    <td>{{ orden.direccion }}</td>
                    <td>{{ orden.telefono }}</td>
                    <td>{{ orden.correo }}</td>
                    <td>
                        {% for producto in orden.productos.all %}
                            {{ producto.nombre_producto }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ orden.tipo_servicio }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block css %}
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
        tr:hover {
            background-color: #f1f1f1;
        }
    </style>
{% endblock %}

{% block js %}
{% endblock %}
